{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/documento.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <title> Política de Privacidade - Inteligência Ilimitada </title>
</head>
<body>
    
    <header class="cabecalho">
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'images/favicon.png' %}" alt="Política de Privacidade - Inteligência Ilimitada">
            </a>
            <h1>
                Política de Privacidade 
            </h1>
        </div>
    </header>

    <main class="container">
        <div>
            <div class="documento">
                <h2>
                    Política de Privacidade
                </h2>
                <p>
                    Nós do site Inteligência Ilimitada somos comprometidos com a segurança da informação e resguardamos os dados pessoais de nossos usuários. Por esse motivo a presente Política de Privacidade destina-se a esclarecer quais informações são coletadas, para quais finalidades e como utilizamos e tratamos os dados pessoais de nossos usuários, sempre em conformidade com o que determina a Lei Geral de Proteção de Dados - Lei 13.709/2019.
                </p>
    
                <h2>
                    1. Quais informações coletamos?
                </h2>
                <p>
                    Através de nosso site, poderão ser coletadas informações como, nome, CPF ou e-mail dos nossos usuários. Também poderão ser coletadas outras informações, como IP dos computadores usados para acessar o site. Todas estas informações, capazes de identificar usuários, são classificadas como dados pessoais nos termos da lei.
                    Todos os dados coletados através de nosso site são protegidos por nós, nos termos da Lei Geral de Proteção de Dados - LGPD.
                </p>
    
                <h2>
                    2. Em que momento coletamos seus dados?
                </h2>
                <p>
                    Ao acessar nosso site, o usuário é informado que utilizamos cookies que podem coletar seus 
                    dados e por este motivo, recomendamos a leitura de nossa Política de Cookies.
                    A navegação em nosso site também permite que o usuário informe seu nome e e-mail para que,
                    mediante sua livre escolha, possa receber nossos informativos (newsletter), que contemplam
                    conteúdo exclusivo publicado por nós.
                </p>
                
                <h2>
                    3. A partir de que momento tratamos seus dados?
                </h2>
                <p>
                    No momento em que você aceita receber nossas newsletter você manifesta, de maneira livre e 
                    inequívoca, seu consentimento para o tratamento de seus dados pessoais por nós, e será a partir deste momento que seus dados serão por nós tratados.
                    O consentimento, nos termos da lei, é apenas uma das bases legais para o tratamento de dados,
                    isto significa que nós também poderemos tratar seus dados por outros fundamentos legais desde 
                    que observado o que dispõe a Lei Geral de Proteção de Dados.
                </p>
                
                <h2>
                    4. Para quais finalidades coletamos seus dados?
                </h2>
                <p>
                    Utilizamos seus dados com a finalidade de manter nossa base de dados de clientes e, com
                    o objetivo de encaminhar nossas newsletter para que você possa receber conteúdos exclusivos
                    sobre dicas de viagem, turismo, passeios e entretenimento.
                    Nós não compartilhamos seus dados, nem vendemos ou cedemos a terceiros.
                    Orientamos nossos parceiros de negócios a manter o padrão de segurança no tratamento
                    dos dados coletados por eles, eventualmente, através de peças publicitárias
                    (banners e outros) que possam ser publicadas em nossas newsletter.
                </p>
                
                <h2>
                    5. O Inteligência Ilimitada utiliza cookies em seu site
                </h2>
                <p>
                    O Inteligência Ilimitada, através de seu site, utiliza cookies e tecnologias semelhantes, por exemplo pixels e tags de anúncios, para coletar dados como identificadores de dispositivos para reconhecer você e/ou seu(s) dispositivo(s) de onde você interagiu conosco. Você pode desabilitar no seu navegador, o uso de dados de cookies e de tecnologias semelhantes que acompanham seu comportamento em sites para fins de direcionamento de anúncios ou outros, leia nossa Política de Cookies.
                </p>
                
                <h2>
                    6. Como o Inteligência Ilimitada protege suas informações?
                </h2>
                <p>
                    Utilizamos medidas modernas de segurança para proteger suas informações pessoais, restringindo o acesso a elas apenas para pessoal autorizado. No entanto, não se pode garantir o uso seguro durante todo o tempo. Nosso site pode conter referências a outros sites e plataformas na forma de hyperlinks, que não estão sob o nosso controle e nos quais não é aplicável a presente Política de Privacidade. Nestes casos, o Inteligência Ilimitada não assume qualquer responsabilidade pelo conteúdo e características destes sites e plataformas.
                </p>
                
                <h2>
                    7. Alterações na Política de Privacidade
                </h2>
                <p>
                    O Inteligência Ilimitada poderá modificar esta Política de Privacidade. Em caso de quaisquer alterações, você poderá receberá um aviso, por meio de nosso site para que possa avaliar as alterações. No caso de não concordância sua com a alteração, você tem o direito de pedir que o Inteligência Ilimitada elimine ou remova seus dados, nos termos da legislação em vigor. No entanto, caso não haja manifestação sobre as alterações, você concorda com as alterações realizadas na Política de Privacidade e isto significará que a coleta, uso, tratamento e compartilhamento dos seus dados pessoais continuarão sujeitos a presente Política de Privacidade atualizada na data em que entrar em vigor.
                </p>
                
                <h2>
                    8. Revogação do titular dos dados
                </h2>
                <p>
                    Você tem todo o direito de revogar o consentimento dado através de nosso site, mediante sua livre e expressa manifestação, nos termos do determinado pelo parágrafo 5º, artigo 8º da LGPD. Na hipótese acima, bem como para qualquer outra questão relacionada a tratamento de dados pessoais, você deverá encaminhar e-mail para contato@inteligenciailimitada.com.br.
                </p>
            </div>

        </div>
    </main>

    <footer class="rodape">
        <p>
            © 2024 Política de Privacidade - Inteligência Ilimitada - Copyright
        </p>
        <nav>
            <a href="{% url 'politica_cookies' %}" target="_blank">
                Política de Cookies
            </a>
            <a href="{% url 'politica_privacidade' %}" target="_blank">
                Política de Privacidade
            </a>
            <a href="mailto:contato@inteligenciailimitadas.com.br">
                Contato: contato@inteligenciailimitadas.com.br
            </a>
        </nav>
    </footer>

</body>
</html>