{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/documento.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <title> Política de Cookies - Inteligência Ilimitada </title>
</head>
<body>
    
    <header class="cabecalho">
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'images/favicon.png' %}" alt="Política de Cookies - Inteligência Ilimitada">
            </a>
            <h1>
                Política de Cookies
            </h1>
        </div>
    </header>

    <main class="container">
        <div>
            <div class="documento">
                <h2>
                    Política de Cookies
                </h2>
                <p>
                    Nós do site Inteligência Ilimitada reconhecemos a importância de proporcionar uma experiência transparente aos nossos usuários em nosso ambiente virtual, por este motivo, apresentamos a presente Política de Cookies. Ela visa explicar o conceito e características dos Cookies a fim de indicar possibilidades de customização por você, usuário, com o objetivo de melhorar sua navegação em nosso site.
                </p>
    
                <h2>
                    1. Introdução
                </h2>
                <p>
                    A presente Política de Cookies aplica-se ao site www.inteligenciailimitada.com.br. Você pode não concordar com a presente Política de Cookies, isto não impedirá sua navegação em nosso site, mas é importante alertarmos que isto poderá impactar sua experiência de navegação.
                </p>
                
                <h2>
                    2. O que são cookies?
                </h2>
                <p>
                    Cookies são arquivos digitais em formato de texto existentes em seu dispositivo (computador, smartphone, tablet, etc.) através de seu navegador de internet e que armazenam informações relacionadas às suas preferências de uso dos conteúdos digitais, como seu idioma preferido, sua localização, recorrência de visita em alguns sites, etc.
                </p>
    
                <h2>
                    3. Para que servem os cookies?
                </h2>
                <p>
                    Os Cookies que o site Inteligência Ilimitada criam em seus dispositivos servem para aprimorar a sua experiência de navegação em nosso site, tanto em termos de performance, como em termos de usabilidade, uma vez que os conteúdos disponibilizados poderão ser direcionados às suas necessidades e expectativas.
                    Além de armazenar informações sobre a sua navegação, os Cookies podem também ser utilizados para compilar estatísticas anônimas e agregadas que permitem entender como os usuários, coletivamente, utilizam nosso site. Esse conhecimento nos permite aprimorar a estrutura e conteúdo de nosso site. Ressaltamos que estatísticas anônimas não identificam usuários.
                </p>
    
                <h2>
                    4. Cookies que utilizamos
                </h2>
                <p>
                    Nós utilizamos Cookies próprios em nosso site, os quais podem ser classificados quanto à sua temporalidade:
                </p>
    
                <ul>
                    <li>
                        <span>
                            • 
                        </span> Cookies de Sessão: são os Cookies temporários que 
                        ficam arquivados no seu dispositivo somente enquanto 
                        você está no site ou com o navegador aberto.
                    </li>
                    <li>
                        <span>
                            • 
                        </span> Cookies Persistentes: são Cookies que ficam arquivados no seu 
                        dispositivo até serem excluídos (o Cookie permanecerá no dispositivo 
                        enquanto durar o “tempo de vida” previsto para eles e também das 
                        configurações do seu navegador de internet).
                    </li>
                </ul>
    
                <p>
                    Os Cookies de Sessão ou Persistentes – ainda podem ser categorizados de acordo com a sua função:
                </p>
    
                <ul>
                    <li>
                        <span>
                            • 
                        </span> Cookies Estritamente Necessários – permitem a 
                        navegação e utilização das aplicações, bem como 
                        o acesso a áreas seguras do site. Sem estes Cookies, 
                        o site não funciona corretamente.
                    </li>
                    <li>
                        <span>
                            • 
                        </span> Cookies Analíticos – coletam dados estatísticos
                        anônimos com a finalidade de analisar a utilização
                        do site e seu respectivo desempenho.
                    </li>
                    <li>
                        <span>
                            • 
                        </span> Cookies de Funcionalidade – são utilizados
                        para assegurar a disponibilização de 
                        funcionalidades adicionais do site ou
                        para guardar as preferências 
                        definidas pelo usuário ao navegar na internet,
                         sempre que utilizar o mesmo dispositivo.
                    </li>
                    <li>
                        <span>
                            • 
                        </span> Cookies de Publicidade – coletam as informações
                        de sua visita em nosso site para que as propagandas
                        nele dispostas sejam mais relevantes para você e de
                        acordo com os seus interesses. Geralmente estão atrelados
                        a Cookies de propriedade de terceiros. Caso você desabilite
                        estes cookies, note que você ainda visualizará as publicidades, 
                        mas elas serão personalizadas às suas preferências.
                    </li>
                </ul>
    
                <h2>
                    5. É possível controlar ou excluir cookies?
                </h2>
                <p>
                    Você deverá habilitar o uso dos Cookies para que nosso site opere 
                    corretamente. Caso decida não os habilitar, você ainda poderá 
                    navegar no site, mas algumas funcionalidades podem não estar disponíveis.
                </p>
                <p>
                    Ressaltamos que a maioria dos navegadores de internet é configurada para aceitar automaticamente os Cookies.
                </p>
                <p>
                    Você pode gerenciar seus Cookies alterando suas 
                    configurações para bloquear o uso de Cookies ou alertá-lo 
                    se estiver sendo enviado para o seu dispositivo. Para isso,
                    você deve consultar instruções de seu navegador ou a seção 
                    de ajuda de seu navegador para saber mais sobre como ajustar
                    ou alterar essas configurações.
                </p>
                <p>
                    Cada navegador, de cada dispositivo, deve estar ajustado para atender às suas preferências em relação aos Cookies.
                </p>
            </div>
            
        </div>
    </main>

    <footer class="rodape">
        <p>
            © 2024 Política de Cookies - Inteligência Ilimitada - Copyright
        </p>
        <nav>
            <a href="{% url 'politica_cookies' %}" target="_blank">
                Política de Cookies
            </a>
            <a href="{% url 'politica_privacidade' %}" target="_blank">
                Política de Privacidade
            </a>
            <a href="mailto:contato@inteligenciailimitadas.com.br">
                Contato: contato@inteligenciailimitadas.com.br
            </a>
        </nav>
    </footer>

</body>
</html>