@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: var(--fonte);
}

:root{
    --cor-branco: #fff;
    --cor-preto: black;
    --cor-preto-claro: #1e2326;
    --cor-primaria: #7675ff;
    --cor-secundaria: #7675ff;
    --cor-fundo: #faf5f1;
    --fonte: "Montserrat", sans-serif;
}

/* Cabeçalho - Início */

.cabecalho{
    width: 100%;
    background: var(--cor-preto);
    border-bottom: 0.5rem solid #7675ff;
}

.cabecalho>div{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-flow: row wrap;
    color: var(--cor-branco);
    text-align: center;
}

.cabecalho>div a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--cor-branco);
}

.cabecalho>div a:nth-of-type(2) img{
    width: 8rem;
}

.cabecalho img{
    max-width: 10rem;
}

@media (max-width: 670px){
    .cabecalho a:nth-of-type(3){
        display: none;
    }

    .cabecalho>div{
        justify-content: center;
        align-items: center;
    }
}

/* Cabeçalho - Fim */


/* Container - Início */

.container{
    width: 100%;
    background: #111022;
}

.container>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    min-height: 78vh;
}

.container h2{
    font-size: 3rem;
    text-align: center;
    color: var(--cor-branco);
    max-width: 70rem;
}

.container p{
    font-size: 2rem;
    text-align: center;
    color: var(--cor-branco);
    max-width: 70rem;
}

.container>div>p{
    max-width: 80rem;
}

.container form{
    max-width: 80rem;
    border: 0.2rem solid var(--cor-primaria);
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.container form>div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.container form>div:nth-of-type(1) label{
    border: 0.2rem solid var(--cor-primaria);
    padding: 1rem 2rem;
    color: var(--cor-branco);
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
    text-align: center;
}

.container form>div:nth-of-type(1) label.selecionado{
    background: var(--cor-primaria);
    color: var(--cor-branco);
}

.container form>div:nth-of-type(1) label:hover{
    transform: scale(1.05);
}

.container form>div input, .container form>div textarea, .container form>div select{
    padding: 1rem;
    border-radius: 1rem;
    border: 0.2rem solid var(--cor-primaria);
    color: var(--cor-branco);
    font-weight: bold;
    background: transparent;
    font-family: var(--fonte);
    /* flex-grow: 1; */
}

#campo_pix>div{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

#campo_pix>div select{
    flex-grow: 1;
}

#campo_pix>div input{
    flex-grow: 4;
}

#campo_pix>div input.ocultar{
    display: none;
}


.container form>div option{
    color: var(--cor-preto);
}

.container form>div input::placeholder, .container form>div textarea::placeholder{
    color: var(--cor-branco);
}

.container form>div:nth-of-type(1) input{
    display: none;
}

.container label{
    color: var(--cor-branco);
    font-weight: bold;
}

#campos>div{
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    width: 100%;
}

#campos>div.ocultar{
    display: none;
}

#campos>input:last-child{
    background: var(--cor-primaria);
    text-align: center;
    color: var(--cor-branco);
    font-weight: bold;
    padding: 1rem 2rem;
    transition: .3s;
    max-width: 20rem;
    cursor: pointer;
    display: none;
    font-size: 1.6rem;
}

#campos>input:last-child:hover{
    transform: scale(1.05);
}

.container small{
    color: red;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}

.loader{
    display: none;
    width: 5rem;
    height: 5rem;
    border: 0.4rem solid var(--cor-branco);
    border-top: 0.4rem solid var(--cor-primaria);
    border-radius: 50%;
    animation: rotate-loader 1s linear infinite;
}

@keyframes rotate-loader{
    100%{
        transform: rotate(360deg);
    }
}

/* Container - Fim */

/* Rodape - Início */

.rodape{
    width: 100%;
    padding: 3rem;
    display: flex;
    gap: 3rem;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    background: var(--cor-preto);
    color: var(--cor-branco);
    text-align: center;
}

.rodape a{
    color: var(--cor-branco);
    transition: .3s;
    display: inline-block;
}

.rodape a:hover{
    transform: scale(1.05);
}

.rodape nav{
    display: flex;
    gap: 2rem;
}

/* Rodape - Fim */

@media(max-width: 730px){
    .resultados div, .resultados p{
        width: 100%;
    }
}

@media(max-width: 600px){
    .rodape nav{
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 500px){
    html{
        font-size: 50%;
    }
}

@media(max-width: 330px){
    html{
        font-size: 40%;
    }
}
