<div class="career-page__pagination">
	<ul class="pg-pagination list-unstyled">
		{% if page_obj.has_previous %}
			<li class="count">
				<a href="?p=1" class="naveg">
					<p> &laquo; </p>
				</a>
			</li>
		{% endif %}

		{% if page_obj.has_previous %}		
			<li class="count">
				<a href="?p={{page_obj.previous_page_number}}" class="naveg">
					<p> &lsaquo; </p>
				</a>
			</li>
		{% endif %}

		{% for pagina in page_obj.paginator.page_range %}
			{% if pagina == page_obj.number %}		
				<li class="count">
					<a href="?p={{pagina}}" class="naveg naveg-atual">
						<p> {{ pagina }} </p>
					</a>
				</li>
			{% elif pagina > page_obj.number|add:"-3" and pagina < page_obj.number|add:"3" %}
				<li class="count">
					<a href="?p={{pagina}}" class="naveg">
						<p> {{ pagina }} </p>
					</a>
				</li>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<li class="count">
				<a href="?p={{page_obj.next_page_number}}" class="naveg">
					<p> &rsaquo; </p>
				</a>
			</li>
		{% endif %}

		{% if page_obj.has_next %}
			<li class="count">
				<a href="?p={{page_obj.paginator.num_pages}}" class="naveg">
					<p> &raquo; </p>
				</a>
			</li>
		{% endif %}

	</ul>
</div>